{block name="footer_badge"}
    {assign var="devEnvironmentFile" value="`$smarty.const.DIR_FS_CATALOG`.dev-environment"}
    {if file_exists($devEnvironmentFile)}
        <script async
            type="application/javascript"
            id="gambio-store-updates-badge-js"
            data-devmode
            data-shop-url="{$smarty.const.GM_HTTP_SERVER}{$smarty.const.DIR_WS_CATALOG}"
            src="{$smarty.const.GM_HTTP_SERVER}{$smarty.const.DIR_WS_CATALOG}GXModules/Gambio/MenuBadge/Build/Admin/Javascript/gambio_store_updates_badge.js"
        ></script>
    {else}
        <script async
            type="application/javascript"
            id="gambio-store-updates-badge-js"
            data-shop-url="{$smarty.const.GM_HTTP_SERVER}{$smarty.const.DIR_WS_CATALOG}"
            src="{$smarty.const.GM_HTTP_SERVER}{$smarty.const.DIR_WS_CATALOG}GXModules/Gambio/MenuBadge/Build/Admin/Javascript/gambio_store_updates_badge.min.js"
        ></script>
    {/if}
    {$smarty.block.parent}
{/block}
