{*
    Template representing the step 1 of the configuration
    Parameters:
        $next Link to the next step
*}

{load_language_text section="twofactorauth" name="twofactorauth_text"}

{block name="twofactorauth_partials_configuration_steps_step1"}
    <section>
        {block name="twofactorauth_partials_configuration_steps_step1_text"}
            {$twofactorauth_text.step1_text}
        {/block}

        {block name="twofactorauth_partials_configuration_steps_step1_buttons"}
            <div>
                <a href="{$next}" class="btn btn-primary">{$twofactorauth_text.setup} <span class="fa fa-chevron-right"></span></a>
            </div>
        {/block}
    </section>
{/block}