{* 
   Smarty block element for creating the first part of the cronjob overview page. Following variables have to be given by
   the including template to create the list elements:
   
   - $title: Title of the section
   
   - $cronjob: Array of information about the cronjob.
     Has to contain following keys:
     - status: Contains whether the cronjob is running or not. Possible values may be "active" or "inactive"
     - executedAt: Datetime of the last successful run of the cronjob
     - url: Contains the URL that has to be called from the server
     
  Example: 
  {include file="get_usermod:cronjobs/partial/overview_part_miscellaneous.html" title = $title cronjob = $cronjob}
*}

{block name="admin_cronjob_partial_overview_miscellaneous_list"}
	<div class="cronjob-container">
		{block name="admin_cronjob_partial_overview_miscellaneous_list_heading"}
			<div class="row headline">
				{block name="admin_cronjob_partial_overview_miscellaneous_list_heading_title"}
					<div class="col-md-12">
						<h3 class="title">{$txt.sub_title_miscellaneous}</h3>
					</div>
				{/block}
			</div>
		{/block}

		{block name="admin_cronjob_partial_overview_miscellaneous_list_container"}
			<form class="row element-container">
				{block name="admin_cronjob_partial_overview_miscellaneous_list"}
					<ul class="cronjob-elements-list"
						data-gx-extension="visibility_switcher"
						data-visibility_switcher-rows=".cronjob-element"
						data-visibility_switcher-selections=".miscellaneous-action-icons">

						{block name="admin_cronjob_partial_overview_miscellaneous_list_item"}
							<li class="col-md-12 cronjob-element">
								<span class="col-md-2 miscellaneous-label">
									Status
								</span>

								<span class="col-md-10 miscellaneous-status">
									{if $cronjobs.active}
										<span class="status-badge active">
											<span>{$txt.status_active}</span>
										</span>
	
										<span class="status-description">
											<span class="execution-info">{$txt.last_executed}: {if $cronjobs.executedAt}{$cronjobs.executedAt}{else}-{/if}</span>
										</span>
									{else}
										<span class="status-badge error">
											<span>{$txt.status_inactive}</span>
										</span>
	
										<span class="status-description">
											{$txt.miscellaneous_cronjob_error}
	
											<span class="execution-info">{$txt.last_executed}: {if $cronjobs.executedAt}{$cronjobs.executedAt}{else}-{/if}</span>
										</span>
									{/if}
								</span>
							</li>
						{/block}

						<li class="col-md-12 cronjob-element">
							<span class="col-md-2 miscellaneous-label">
								<label for="cron-url">Cronjob-URL</label>
							</span>

							<span class="col-md-7 cronjob-url">
								<input id="cron-url" type="text" value="{$content.cronjobUrl}" readonly>
							</span>

							<span class="col-md-3 miscellaneous-action-icons">
								{block name="admin_cronjob_partial_overview_list_element_list_item_actions_show_logs"}
									<a class="copy-to-clipboard" href="#" title="{$txt.copy_to_clipboard}">
										<i class="fa fa-copy"></i>
									</a>
								{/block}

								{block name="admin_cronjob_partial_overview_list_element_list_item_actions_job_edit"}
									<span class="tooltip-icon"
										  data-gx-widget="tooltip_icon"
										  data-tooltip_icon-type="info">
										{$txt.cronjob_setup_description}
									</span>
								{/block}
							</span>
						</li>
					</ul>
				{/block}
			</form>
		{/block}
	</div>
{/block}