{block name="module_products_reviews_title_if" append}
	{if $omnibusPolicyProductInfoTextBefore}
		<div class="product-rating-verification-hint">
			<p>{$omnibusPolicyProductInfoTextBefore}</p>
		</div>
	{/if}
{/block}

{block name="module_products_reviews_list" append}
	{if $omnibusPolicyProductInfoTextAfter}
		<div class="product-rating-verification-hint">
			<p>{$omnibusPolicyProductInfoTextAfter}</p>
		</div>
	{/if}
{/block}

{block name="module_products_reviews_no_reviews_title" append}
	{if $omnibusPolicyProductInfoTextBefore}
		<div class="product-rating-verification-hint">
			<p>{$omnibusPolicyProductInfoTextBefore}</p>
		</div>
	{/if}
{/block}

{block name="module_products_reviews_no_reviews_text" append}
	{if $omnibusPolicyProductInfoTextAfter}
		<div class="product-rating-verification-hint">
			<p>{$omnibusPolicyProductInfoTextAfter}</p>
		</div>
	{/if}
{/block}

{block name="module_products_reviews_not_allowed_title" append}
	{if $omnibusPolicyProductInfoTextBefore}
		<div class="product-rating-verification-hint">
			<p>{$omnibusPolicyProductInfoTextBefore}</p>
		</div>
	{/if}
{/block}

{block name="module_products_reviews_not_allowed_text" append}
	{if $omnibusPolicyProductInfoTextAfter}
		<div class="product-rating-verification-hint">
			<p>{$omnibusPolicyProductInfoTextAfter}</p>
		</div>
	{/if}
{/block}
