{block name="layout_footer_info_menu_trigger"}
	<div class="menu-trigger {$menuVisibility}">
        {block name="layout_footer_info_menu_trigger_expand"}
			<div class="menu-trigger-container menu-expand">
				<i class="fa fa-caret-right"></i>
				<i class="fa fa-bars"></i>
			</div>
        {/block}
        {block name="layout_footer_info_menu_trigger_expand_all"}
			<div class="menu-trigger-container menu-expand-all">
				<i class="fa fa-caret-down"></i>
				<i class="fa fa-bars"></i>
			</div>
        {/block}
        {block name="layout_footer_info_menu_trigger_collapse"}
			<div class="menu-trigger-container menu-collapse">
				<i class="fa fa-caret-left"></i>
				<i class="fa fa-bars"></i>
			</div>
        {/block}
	</div>
{/block}