{* Include this partial template to place the page navigation elements to the table header. *}

{block name="admin_layouts_main_partial_datatables_page_navigataion"}
	<div class="page-navigation form-inline">
		<div class="form-group pull-right">
			{block name="admin_layouts_main_partial_datatables_page_navigataion_label"}
				<label class="control-label">
					{* Dynamically updated content from datatable.js (JSE library). *}
					# bis # (von #)
				</label>
			{/block}
			{block name="admin_layouts_main_partial_datatables_page_navigataion_previous"}
				<button class="btn btn-default previous">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</button>
			{/block}
			{block name="admin_layouts_main_partial_datatables_page_navigataion_control"}
				<select class="form-control">
					{* Dynamically updated content from datatable.js (JSE library). *}
					<option value="1">1 von 2</option>
					<option value="2">2 von 2</option>
				</select>
			{/block}
			{block name="admin_layouts_main_partial_datatables_page_navigataion_next"}
				<button class="btn btn-default next">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</button>
			{/block}
		</div>
	</div>
{/block}