@import "../variables";

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background-color: #fff;
	color: $text-color;
	margin: 0;
	padding: 0 !important;
	font-size: $default-font-size;
	font-family: Roboto, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: $default-line-height;
	
	a {
		color: $link-color;
		text-decoration: none;
	}
}