/* Topbar
   ========================================================================== */

.topbar-notification {
	display: table;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1040;

	.notification-content {
		display: table-cell;
		padding: 10px;
	}

	.hide-topbar-notification {
		cursor: pointer;
		display: table-cell;
		width: 4em;
		vertical-align: top;
		padding: 5px;
	}
}

#topbar-container {

	@include background($gx-navbar-topbar-bg-color,
			$gx-navbar-topbar-bg-image-url,
			$gx-navbar-topbar-bg-image-position,
			$gx-navbar-topbar-bg-image-repeat,
			$gx-navbar-topbar-bg-image-size,
			$gx-navbar-topbar-bg-image-attachment,
			$gx-navbar-topbar-bg-image-enabled,
			$gx-navbar-topbar-bg-gradient-enabled,
			$gx-navbar-topbar-bg-gradient-color1,
			$gx-navbar-topbar-bg-gradient-color2,
			$gx-navbar-topbar-bg-gradient-type,
			$gx-navbar-topbar-bg-gradient-angle);

	.top-mobile-search {
		@media (max-width: $screen-xs-max) {
			height: 100%;
			width: 100%;
			top: 49px;
			@if ($gx-show-search-top-nav == true and  $gx-hide-search-col == false) {
				.navbar-search {
					display: none !important;
				}
			}
		}
	}

	.navbar-topbar {

		@include transition(300ms ease all);

		min-height: 0;
		height: $gx-topbar-height;

		// wrap topbar in container width

		@if ($gx-body-wrap != true) {
			@if ($gx-topbar-wrap) {
				@extend .container;
			}
		} @else {
			// fix navbar position with framed shop
			.navbar-right {
				margin-right: 0;
			}
		}

		// hide on mobile.
		// items will be moved to
		// categories menu

		display: none;
		@media (min-width: $grid-float-breakpoint) {
			display: block;
		}

		// apply min width for all
		// topbar dropdowns

		.dropdown-menu {
			min-width: 300px;
		}

		// hide categories dropdown of search in topbar
		@if ($gx-show-search-top-nav != false) {
			.search-dropdown {
				.navbar-search {
					width: 100%;
					padding: 0 15px 5px 15px;

					.btn {
						&.btn-default {
							&.dropdown-toggle {
								display: none;
							}
						}
					}

					.search-input {
						@include border-left-radius($border-radius-large);
					}
				}
			}
		}

		// apply navbar styles for topbar

		.navbar-nav {
			> li {
				> a {
					font-size: $gx-topbar-font-size;
					height: $gx-topbar-height;
					padding: $gx-topbar-link-padding;
					color: $gx-navbar-topbar-link-color;
					
					svg {
						fill: $gx-navbar-topbar-link-color;
					}

					@include background($gx-navbar-topbar-link-bg-color,
							$gx-navbar-topbar-link-bg-image-url,
							$gx-navbar-topbar-link-bg-image-position,
							$gx-navbar-topbar-link-bg-image-repeat,
							$gx-navbar-topbar-link-bg-image-size,
							$gx-navbar-topbar-link-bg-image-attachment,
							$gx-navbar-topbar-link-bg-image-enabled,
							$gx-navbar-topbar-link-bg-gradient-enabled,
							$gx-navbar-topbar-link-bg-gradient-color1,
							$gx-navbar-topbar-link-bg-gradient-color2,
							$gx-navbar-topbar-link-bg-gradient-type,
							$gx-navbar-topbar-link-bg-gradient-angle);

					&:hover,
					&:focus {
						color: $gx-navbar-topbar-link-hover-color;
						
						svg {
							fill: $gx-navbar-topbar-link-hover-color;
						}

						@include background($gx-navbar-topbar-link-hover-bg-color,
								$gx-navbar-topbar-link-hover-bg-image-url,
								$gx-navbar-topbar-link-hover-bg-image-position,
								$gx-navbar-topbar-link-hover-bg-image-repeat,
								$gx-navbar-topbar-link-hover-bg-image-size,
								$gx-navbar-topbar-link-hover-bg-image-attachment,
								$gx-navbar-topbar-link-hover-bg-image-enabled,
								$gx-navbar-topbar-link-hover-bg-gradient-enabled,
								$gx-navbar-topbar-link-hover-bg-gradient-color1,
								$gx-navbar-topbar-link-hover-bg-gradient-color2,
								$gx-navbar-topbar-link-hover-bg-gradient-type,
								$gx-navbar-topbar-link-hover-bg-gradient-angle);
					}

					.language-code {
						text-transform: uppercase;

						@if ($gx-navbar-topbar-show-icons == false) {
							padding-left: 6px;
						}
					}
				}
			}

			.active > a {
				&,
				&:hover,
				&:focus {
					color: $gx-navbar-topbar-link-active-color;

					@include background($gx-navbar-topbar-link-active-bg-color,
							$gx-navbar-topbar-link-active-bg-image-url,
							$gx-navbar-topbar-link-active-bg-image-position,
							$gx-navbar-topbar-link-active-bg-image-repeat,
							$gx-navbar-topbar-link-active-bg-image-size,
							$gx-navbar-topbar-link-active-bg-image-attachment,
							$gx-navbar-topbar-link-active-bg-image-enabled,
							$gx-navbar-topbar-link-active-bg-gradient-enabled,
							$gx-navbar-topbar-link-active-bg-gradient-color1,
							$gx-navbar-topbar-link-active-bg-gradient-color2,
							$gx-navbar-topbar-link-active-bg-gradient-type,
							$gx-navbar-topbar-link-active-bg-gradient-angle);
				}
			}

			.disabled > a {
				&,
				&:hover,
				&:focus {
					color: $gx-navbar-topbar-link-disabled-color;
					background-color: $gx-navbar-topbar-link-disabled-bg;
				}
			}

			.open > a {
				& {
					background-color: $gx-navbar-topbar-link-disabled-bg;
					color: $gx-navbar-topbar-link-active-color;
				}
			}

			.open > a {
				&,
				&:hover,
				&:focus {
					color: $gx-navbar-topbar-link-active-color;

					@include background($gx-navbar-topbar-link-active-bg-color,
							$gx-navbar-topbar-link-active-bg-image-url,
							$gx-navbar-topbar-link-active-bg-image-position,
							$gx-navbar-topbar-link-active-bg-image-repeat,
							$gx-navbar-topbar-link-active-bg-image-size,
							$gx-navbar-topbar-link-active-bg-image-attachment,
							$gx-navbar-topbar-link-active-bg-image-enabled,
							$gx-navbar-topbar-link-active-bg-gradient-enabled,
							$gx-navbar-topbar-link-active-bg-gradient-color1,
							$gx-navbar-topbar-link-active-bg-gradient-color2,
							$gx-navbar-topbar-link-active-bg-gradient-type,
							$gx-navbar-topbar-link-active-bg-gradient-angle);
				}
			}

			.open .dropdown-menu a {
				&:focus {
					background-color: $dropdown-link-hover-bg;
				}
			}

			// apply styles for
			// mobile view

			@media (max-width: $grid-float-breakpoint-max) {

				ul.dropdown-menu {
					.dropdown-header {
						border-color: $gx-navbar-topbar-border;
					}

					.divider {
						background-color: $gx-navbar-topbar-border;
					}

					a {
						color: $gx-navbar-topbar-link-color;

						&:hover,
						&:focus {
							color: $gx-navbar-topbar-link-hover-color;

							@include background($gx-navbar-topbar-link-hover-bg-color,
									$gx-navbar-topbar-link-hover-bg-image-url,
									$gx-navbar-topbar-link-hover-bg-image-position,
									$gx-navbar-topbar-link-hover-bg-image-repeat,
									$gx-navbar-topbar-link-hover-bg-image-size,
									$gx-navbar-topbar-link-hover-bg-image-attachment,
									$gx-navbar-topbar-link-hover-bg-image-enabled,
									$gx-navbar-topbar-link-hover-bg-gradient-enabled,
									$gx-navbar-topbar-link-hover-bg-gradient-color1,
									$gx-navbar-topbar-link-hover-bg-gradient-color2,
									$gx-navbar-topbar-link-hover-bg-gradient-type,
									$gx-navbar-topbar-link-hover-bg-gradient-angle);
						}
					}

					.active a {
						&,
						&:hover,
						&:focus {
							color: $gx-navbar-topbar-link-active-color;
							@include background($gx-navbar-topbar-link-active-bg-color,
									$gx-navbar-topbar-link-active-bg-image-url,
									$gx-navbar-topbar-link-active-bg-image-position,
									$gx-navbar-topbar-link-active-bg-image-repeat,
									$gx-navbar-topbar-link-active-bg-image-size,
									$gx-navbar-topbar-link-active-bg-image-attachment,
									$gx-navbar-topbar-link-active-bg-image-enabled,
									$gx-navbar-topbar-link-active-bg-gradient-enabled,
									$gx-navbar-topbar-link-active-bg-gradient-color1,
									$gx-navbar-topbar-link-active-bg-gradient-color2,
									$gx-navbar-topbar-link-active-bg-gradient-type,
									$gx-navbar-topbar-link-active-bg-gradient-angle);
						}
					}

					.disabled a {
						&,
						&:hover,
						&:focus {
							color: $gx-navbar-topbar-link-disabled-color;
							background-color: $gx-navbar-topbar-link-disabled-bg;
						}
					}
				}
			}
		}
	}
}

@media (max-width: $screen-xs-max) {
	.search-open {
		#topbar-container {
			.top-mobile-search {
				position: fixed;
				z-index: 2;
			}
		}
	}
}

// dropdown transitions

@media (min-width: $grid-float-breakpoint) {
	.navbar-topbar > nav > .navbar-nav {

		// copy/paste from categories
		> li > ul.dropdown-menu {
			display: block !important;
			height: 0;
			overflow: hidden;
			z-index: -1;
			@include opacity(0);
			@include transition(300ms ease-out opacity, 300ms ease-out max-height);
		}

		> li.open {
			> ul.dropdown-menu {
				height: auto;
				overflow: visible;
				z-index: $zindex-navbar;
				@include opacity(1);
			}
		}

		> li.transition {
			> ul.dropdown-menu {
				height: auto;
				overflow: visible;
			}
		}
	}
}

// sticky behavior of topbar

#header {
	@media (min-width: $grid-float-breakpoint) {
		@if ($gx-body-wrap != true) {
			@if ($gx-header-fixed) {
				&.sticky {
					.navbar-topbar {
						@if ($gx-topbar-height-sticky < $gx-topbar-height) {
							height: $gx-topbar-height-sticky;
							@if ($gx-topbar-height-sticky == 0) {
								overflow: hidden !important;
							}
						}
					}
				}

				&.transition {
					.navbar-topbar {
						overflow: hidden !important;
					}
				}
			}
		}
	}
}

.gambio-admin a {
	background-color: #fdc300 !important;
	color: #002337 !important;
	
	&:hover {
		background-color: #fdc300 !important;
	}
}