/* Bootstrap Header and Logo
   ========================================================================== */

#navbar-brand {
	display: table;
	padding: 0;

	@media (min-width: $grid-float-breakpoint) {
		width: 100%;
		height: $gx-brand-height;
	}

	a {
		display: table-cell;
		height: $gx-header-height-mobile;
		line-height: ($gx-header-height-mobile - 2px);
		margin-left: floor($grid-gutter-width / 2);
		max-width: $gx-brand-width-mobile;
		padding-left: floor($grid-gutter-width / 2);
		vertical-align: middle;
		width: 100%;

		// medium resolutions
		@media (min-width: $grid-float-breakpoint) {
			height: ($gx-brand-height - 20px);
			line-height: ($gx-brand-height - 20px);
			margin: 10px 0;
			max-width: unset;
			padding-left: 0;
		}

		img {
			max-height: $gx-header-height-mobile;

			// medium resolutions
			@media (min-width: $grid-float-breakpoint) {
				max-height: ($gx-brand-height - 20px);
			}

			// transition for resizing
			@include transition(300ms ease all);
			
			@if($gx-logo-horizontal == true) {
				margin: 0 auto;
			}
		}
	}
}

// sticky behavior

#header {
	@media (min-width: $grid-float-breakpoint) {
		@if ($gx-body-wrap != true) {
			@if ($gx-header-fixed) {
				&.sticky {
					#navbar-brand {
						height: $gx-brand-height-sticky;

						a {
							height: ($gx-brand-height-sticky - 20px);
							margin: 0;

							img {
								max-height: ($gx-brand-height-sticky - 20px);
							}
						}
					}
				}
			}
		}
	}
}