/* Helpers
   ========================================================================== */

// defined font sizes for the WYSIWYG StyleEdit 4 option
.text-tiny {
    font-size: .7em;
}

// .text-small class is already defined here: themes/Honeygrid/styles/system/modules/_global.scss

.text-big {
    font-size: 1.4em;
}

.text-huge {
    font-size: 1.8em;
}