$gambio-blue: #002337;
$gambio-yellow: #fdc300;
$gambio-green: #70C552;
$gambio-success: #5EBD5E;
$gambio-info: #5bc0de;
$gambio-warning: #f0ad4e;
$gambio-danger: #E66554;
$gambio-alt: #fdc300;

// some further brand colors
$brand-primary: $gambio-blue;
$brand-secondary: $gambio-yellow;
$brand-green: #70C552;
$brand-success: #5EBD5E;
$brand-info: #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger: #E66554;
$brand-alt: #fdc300;
