$border-radius-base: 2px;
$cookie-consent-panel-opacity: 0.97;
$font-size-base: 14px;
$gx-account-full-width: true;
$gx-advanced-search-result-full-width: true;
$gx-alert-danger-bg-color: $alert-danger-bg;
$gx-alert-danger-bg-image-attachment: scroll;
$gx-alert-danger-bg-image-position: 50% 50%;
$gx-alert-danger-bg-image-repeat: no-repeat;
$gx-alert-danger-bg-image-size: auto;
$gx-alert-danger-border: $alert-danger-border;
$gx-alert-danger-color: $alert-danger-text;
$gx-alert-info-bg-color: $alert-info-bg;
$gx-alert-info-bg-image-attachment: scroll;
$gx-alert-info-bg-image-position: 50% 50%;
$gx-alert-info-bg-image-repeat: no-repeat;
$gx-alert-info-bg-image-size: auto;
$gx-alert-info-border: $alert-info-border;
$gx-alert-info-color: $alert-info-text;
$gx-alert-success-bg-color: $alert-success-bg;
$gx-alert-success-bg-image-attachment: scroll;
$gx-alert-success-bg-image-position: 50% 50%;
$gx-alert-success-bg-image-repeat: no-repeat;
$gx-alert-success-bg-image-size: auto;
$gx-alert-success-border: $alert-success-border;
$gx-alert-success-color: $alert-success-text;
$gx-alert-warning-bg-color: $alert-warning-bg;
$gx-alert-warning-bg-image-attachment: scroll;
$gx-alert-warning-bg-image-position: 50% 50%;
$gx-alert-warning-bg-image-repeat: no-repeat;
$gx-alert-warning-bg-image-size: auto;
$gx-alert-warning-border: $alert-warning-border;
$gx-alert-warning-color: $alert-warning-text;
$gx-body-padding-bottom: 0px;
$gx-body-padding-top: 0px;
$gx-body-wrap: false;
$gx-brand-height: 70px;
$gx-brand-height-sticky: 70px;
$gx-brand-width-mobile: 120px;
$gx-breadcrumb-color: #999999;
$gx-btn-border-radius: 0px;
$gx-btn-borderless: false;
$gx-btn-calltoaction-bg-color: #2eae06;
$gx-btn-calltoaction-bg-image-attachment: scroll;
$gx-btn-calltoaction-bg-image-position: 50% 50%;
$gx-btn-calltoaction-bg-image-repeat: no-repeat;
$gx-btn-calltoaction-bg-image-size: auto;
$gx-btn-calltoaction-border: #2eae06;
$gx-btn-calltoaction-color: #ffffff;
$gx-btn-default-bg-color: $btn-default-bg;
$gx-btn-default-bg-image-attachment: scroll;
$gx-btn-default-bg-image-position: 50% 50%;
$gx-btn-default-bg-image-repeat: no-repeat;
$gx-btn-default-bg-image-size: auto;
$gx-btn-default-border: $btn-default-bg;
$gx-btn-default-color: $btn-default-color;
$gx-btn-primary-bg-color: $btn-primary-bg;
$gx-btn-primary-bg-image-attachment: scroll;
$gx-btn-primary-bg-image-position: 50% 50%;
$gx-btn-primary-bg-image-repeat: no-repeat;
$gx-btn-primary-bg-image-size: auto;
$gx-btn-primary-border: $btn-primary-bg;
$gx-btn-primary-color: $btn-primary-color;
$gx-btn-rounded: true;
$gx-btn-text-transform: uppercase;
$gx-cart-border-color: #e7e7e7;
$gx-cart-border-radius: 0;
$gx-cart-col-lg: 2;
$gx-cart-col-md: 3;
$gx-cart-col-sm: 4;
$gx-cart-height: 30px;
$gx-cart-height-sticky: 30px;
$gx-cart-icon-color: $gx-brand-secondary;
$gx-cart-margin-vertical: 10px;
$gx-cart-margin-vertical-sticky: 0;
$gx-cart-mobile-icon-color: $gx-brand-secondary;
$gx-cart-padding-vertical: 13px;
$gx-cart-padding-vertical-sticky: 10px;
$gx-cart-sticky-icon-color: $gx-brand-secondary;
$gx-cart-sticky-text-color: #333333;
$gx-cart-table-color: $text-color;
$gx-cart-table-head-color: #999999;
$gx-cart-table-info-color: $gray;
$gx-cart-text-color: #333333;
$gx-cat-left-active-color: #fff;
$gx-cat-left-bg-active-color: $brand-primary;
$gx-cat-left-bg-color: #fff;
$gx-cat-left-bg-hover-color: #eee;
$gx-cat-left-bg-open-color: #eee;
$gx-cat-left-color: $text-color;
$gx-cat-left-hover-color: $text-color;
$gx-cat-left-open-color: $text-color;
$gx-cat-navbar-border-radius: 0;
$gx-categories-bg: #ffffff;
$gx-categories-col-height: 70px;
$gx-categories-col-height-sticky: 70px;
$gx-categories-headline-size: 15px;
$gx-categories-height: $navbar-height;
$gx-categories-height-sticky: 0;
$gx-categories-margin-vertical: 0;
$gx-categories-margin-vertical-sticky: 0;
$gx-categories-mobile-height: 50px;
$gx-categories-mobile-icons: true;
$gx-categories-mobile-dropdown-colors: false;
$gx-categories-mobile-padding-vertical: 17px;
$gx-categories-padding-vertical: 10px;
$gx-categories-padding-vertical-sticky: 10px;
$gx-categories-tab-padding: 2px;
$gx-categories-text-transformation: uppercase;
$gx-categories-transitions: false;
$gx-categories-wrap: true;
$gx-center-categories: false;
$gx-checkbox-active-bg-color: $alert-success-bg;
$gx-checkbox-active-bg-image-attachment: scroll;
$gx-checkbox-active-bg-image-position: 50% 50%;
$gx-checkbox-active-bg-image-repeat: no-repeat;
$gx-checkbox-active-bg-image-size: auto;
$gx-checkbox-active-border: $alert-success-border;
$gx-checkbox-active-color: $alert-success-text;
$gx-checkbox-bg-color: $alert-warning-bg;
$gx-checkbox-bg-image-attachment: scroll;
$gx-checkbox-bg-image-position: 50% 50%;
$gx-checkbox-bg-image-repeat: no-repeat;
$gx-checkbox-bg-image-size: auto;
$gx-checkbox-border: $alert-warning-border;
$gx-checkbox-color: $alert-warning-text;
$gx-checkout-form-bg-color: #ccc;
$gx-checkout-form-bg-image-attachment: scroll;
$gx-checkout-form-bg-image-position: 50% 50%;
$gx-checkout-form-bg-image-repeat: no-repeat;
$gx-checkout-form-bg-image-size: auto;
$gx-checkout-full-width: true;
$gx-checkout-headline-border-color: $brand-primary;
$gx-checkout-headline-color: $brand-primary;
$gx-checkout-table-additional-info-color: $gray;
$gx-checkout-table-bg-color: #f3f3f3;
$gx-checkout-table-bg-image-attachment: scroll;
$gx-checkout-table-bg-image-position: 50% 50%;
$gx-checkout-table-bg-image-repeat: no-repeat;
$gx-checkout-table-bg-image-size: auto;
$gx-checkout-table-border-color: #e7e7e7;
$gx-checkout-table-color: $text-color;
$gx-checkout-table-header-color: #999999;
$gx-create-account-full-width: true;
$gx-custom-1-col-height: 60px;
$gx-custom-1-col-height-sticky: 60px;
$gx-custom-bg-color: $gx-brand-secondary;
$gx-custom-bg-color-active: #333333;
$gx-custom-bg-color-hover: #333333;
$gx-custom-color: #fff;
$gx-custom-color-active: #fff;
$gx-custom-color-hover: #fff;
$gx-display-teaser-slider-lg: true;
$gx-display-teaser-slider-md: true;
$gx-display-teaser-slider-sm: true;
$gx-display-teaser-slider-xs: true;
$gx-dropdown-bg-color: #ffffff;
$gx-dropdown-bg-image-attachment: scroll;
$gx-dropdown-bg-image-position: 50% 50%;
$gx-dropdown-bg-image-repeat: no-repeat;
$gx-dropdown-bg-image-size: auto;
$gx-dropdown-border-color: #eeeeee;
$gx-dropdown-color: $text-color;
$gx-dropdown-disabled-color: #999999;
$gx-dropdown-footer-bg-color: transparent;
$gx-dropdown-footer-bg-image-attachment: scroll;
$gx-dropdown-footer-bg-image-position: 50% 50%;
$gx-dropdown-footer-bg-image-repeat: no-repeat;
$gx-dropdown-footer-bg-image-size: auto;
$gx-dropdown-footer-color: $text-color;
$gx-dropdown-hover-bg-color: transparent;
$gx-dropdown-hover-bg-image-attachment: scroll;
$gx-dropdown-hover-bg-image-position: 50% 50%;
$gx-dropdown-hover-bg-image-repeat: no-repeat;
$gx-dropdown-hover-bg-image-size: auto;
$gx-dropdown-info-color: #999999;
$gx-enter-category-bg-color: $gray-lighter;
$gx-enter-category-color: $text-color;
$gx-font-import-url: 'https://fonts.googleapis.com/css?family=Fira+Sans:300,400,700,900';
$gx-footer-bg-color: #eeeeee;
$gx-footer-boxes-border-color: #bbbbbb;
$gx-footer-col-1-lg: 3;
$gx-footer-col-1-sm: 6;
$gx-footer-col-1-xs: 12;
$gx-footer-col-2-lg: 3;
$gx-footer-col-2-sm: 6;
$gx-footer-col-2-xs: 12;
$gx-footer-col-3-lg: 3;
$gx-footer-col-3-sm: 6;
$gx-footer-col-3-xs: 12;
$gx-footer-col-4-lg: 3;
$gx-footer-col-4-sm: 6;
$gx-footer-col-4-xs: 12;
$gx-footer-color: #666666;
$gx-footer-header-bg-color: $brand-primary;
$gx-footer-header-color: #000000;
$gx-footer-header-min-height: 50px;
$gx-footer-height: 300px;
$gx-footer-line-height: 2.3;
$gx-footer-link-color: #666666;
$gx-footer-link-hover-color: #000000;
$gx-footer-min-height: 300px;
$gx-footer-wrap: true;
$gx-gallery-bg-color: #ffffff;
$gx-gallery-bg-gradient-enabled: false;
$gx-gallery-bg-image-attachment: scroll;
$gx-gallery-bg-image-enabled: false;
$gx-gallery-bg-image-position: 50% 50%;
$gx-gallery-bg-image-repeat: no-repeat;
$gx-gallery-bg-image-size: auto;
$gx-header-bg-color: $brand-primary;
$gx-header-bg-mobile-color: $brand-primary;
$gx-header-bg-sticky-color: $brand-primary;
$gx-header-categories-col-lg: 4;
$gx-header-categories-col-md: 4;
$gx-header-categories-col-sm: 0;
$gx-header-col-lg: 4;
$gx-header-col-md: 4;
$gx-header-col-sm: 4;
$gx-header-custom-col-lg: 4;
$gx-header-custom-col-md: 4;
$gx-header-custom-col-sm: 4;
$gx-header-fixed: true;
$gx-header-height: 118px;
$gx-header-height-mobile: 60px;
$gx-header-height-sticky: 70px;
$gx-header-secondary-col-lg: 4;
$gx-header-secondary-col-md: 4;
$gx-header-secondary-col-sm: 4;
$gx-header-wrap: true;
$gx-headline-border-color: $brand-primary;
$gx-hide-cart-col: true;
$gx-hide-categories-col: true;
$gx-hide-custom-1-col: true;
$gx-hide-footer-col-1: false;
$gx-hide-footer-col-2: false;
$gx-hide-footer-col-3: false;
$gx-hide-footer-col-4: false;
$gx-hide-logo-col: false;
$gx-hide-search-col: false;
$gx-hide-secondary-col: false;
$gx-hide-topbar: true;
$gx-index-full-width: true;
$gx-left-col-lg: 3;
$gx-left-col-md: 4;
$gx-left-col-sm: 4;
$gx-list-group-item-bg-active-color: #eee;
$gx-list-group-item-bg-active-image-attachment: scroll;
$gx-list-group-item-bg-active-image-position: 50% 50%;
$gx-list-group-item-bg-active-image-repeat: no-repeat;
$gx-list-group-item-bg-active-image-size: auto;
$gx-list-group-item-bg-color: transparent;
$gx-list-group-item-bg-image-attachment: scroll;
$gx-list-group-item-bg-image-position: 50% 50%;
$gx-list-group-item-bg-image-repeat: no-repeat;
$gx-list-group-item-bg-image-size: auto;
$gx-list-group-item-border-color: $gray-lighter;
$gx-list-group-item-border-color-active: #cccccc;
$gx-list-group-item-color: $text-color;
$gx-list-group-item-color-active: $text-color;
$gx-list-group-item-link-color: $brand-primary;
$gx-list-group-item-link-color-active: $brand-primary;
$gx-logo-horizontal: false;
$gx-main-col-lg: 9;
$gx-main-col-md: 8;
$gx-main-col-sm: 8;
$gx-megadropdown-bg-color: #fff;
$gx-megadropdown-block-count: 3;
$gx-megadropdown-block-width: 225px;
$gx-megadropdown-color: $text-color;
$gx-megadropdown-heading-border-color: transparent;
$gx-megadropdown-heading-font-size: 18px;
$gx-menu-mobile-icon-color: $gx-brand-secondary;
$gx-modal-bg-color: #FFFFFF;
$gx-modal-bg-image-attachment: scroll;
$gx-modal-bg-image-position: 50% 50%;
$gx-modal-bg-image-repeat: no-repeat;
$gx-modal-bg-image-size: auto;
$gx-navbar-topbar-bg-color: transparent;
$gx-navbar-topbar-link-active-bg-color: #ffffff;
$gx-navbar-topbar-link-active-color: #000;
$gx-navbar-topbar-link-bg-color: transparent;
$gx-navbar-topbar-link-color: #000000;
$gx-navbar-topbar-link-hover-bg-color: darken($brand-primary, 5%);
$gx-navbar-topbar-link-hover-color: #000;
$gx-navbar-topbar-show-icons: true;
$gx-newsletter-full-width: true;
$gx-no-rating-hint-color: $text-color;
$gx-pageup-align-left: false;
$gx-pageup-bg-color: #ffffff;
$gx-pageup-color: $brand-primary;
$gx-pageup-hover-bg-color: #ffffff;
$gx-pageup-hover-color: $brand-primary;
$gx-pageup-vertical-space-bottom: 25px;
$gx-pagination-border-color: #e7e7e7;
$gx-panel-border-color: #dddddd;
$gx-panel-header-bg-color: $brand-primary;
$gx-panel-header-bg-image-attachment: scroll;
$gx-panel-header-bg-image-position: 50% 50%;
$gx-panel-header-bg-image-repeat: no-repeat;
$gx-panel-header-bg-image-size: auto;
$gx-panel-header-color: $text-color;
$gx-product-bg-color: #FFFFFF;
$gx-product-bg-gradient-enabled: false;
$gx-product-bg-image-attachment: scroll;
$gx-product-bg-image-enabled: false;
$gx-product-bg-image-position: 50% 50%;
$gx-product-bg-image-repeat: no-repeat;
$gx-product-bg-image-size: auto;
$gx-product-info-border-color: darken($gray-lighter, 10%);
$gx-product-info-button-bg: transparent;
$gx-product-info-button-bg-hover: transparent;
$gx-product-info-button-border: #dddddd;
$gx-product-info-button-border-hover: darken($gx-product-info-button-border, 10%);
$gx-product-info-button-color: #999999;
$gx-product-info-button-color-hover: darken($gx-product-info-button-color, 10%);
$gx-product-info-details-bg-color: transparent;
$gx-product-info-details-border-color: transparent;
$gx-product-info-details-border-style: none;
$gx-product-info-details-border-width: 0;
$gx-product-info-details-color: $text-color;
$gx-product-info-details-note-color: $gray-light;
$gx-product-info-details-sticky: false;
$gx-product-info-full-width: true;
$gx-product-info-hide-quantity-input: true;
$gx-product-info-img-bg-color: transparent;
$gx-product-info-img-bg-image-attachment: scroll;
$gx-product-info-img-bg-image-position: 50% 50%;
$gx-product-info-img-bg-image-repeat: no-repeat;
$gx-product-info-img-bg-image-size: auto;
$gx-product-info-layer-stage-height: 650px;
$gx-product-info-layer-stage-height-mobile: 300px;
$gx-product-info-stage-height: 500px;
$gx-product-info-stage-height-mobile: 300px;
$gx-product-info-thumbnail-width: 100px;
$gx-product-info-thumbnail-width-mobile: 50px;
$gx-product-list-border-color: #eeeeee;
$gx-product-listing-col-lg: 3;
$gx-product-listing-col-md: 4;
$gx-product-listing-col-sm: 6;
$gx-product-listing-col-xs: 6;
$gx-product-listing-full-width: true;
$gx-product-listing-gallery-image-height: 75px;
$gx-product-listing-gallery-width: 95px;
$gx-product-listing-image-height: 180px;
$gx-product-listing-image-height-mobile: 130px;
$gx-products-name-height: 65px;
$gx-products-price-height: 80px;
$gx-qr-code-bg-color: #FFFFFF;
$gx-qr-code-color: #337AB7;
$gx-ribbon-available-active: true;
$gx-ribbon-available-bg: #79a70a;
$gx-ribbon-available-color: #ffffff;
$gx-ribbon-new-active: true;
$gx-ribbon-new-bg: #515151;
$gx-ribbon-new-color: #ffffff;
$gx-ribbon-recommendation-active: true;
$gx-ribbon-recommendation-bg: #337ab7;
$gx-ribbon-recommendation-color: #ffffff;
$gx-ribbon-sold-out-active: true;
$gx-ribbon-sold-out-bg: #C20400;
$gx-ribbon-sold-out-color: #ffffff;
$gx-ribbon-special-active: true;
$gx-ribbon-special-bg: #f1544d;
$gx-ribbon-special-color: #ffffff;
$gx-ribbons-padding: 0;
$gx-right-col-lg: 0;
$gx-right-col-md: 0;
$gx-right-col-sm: 0;
$gx-search-col-lg: 4;
$gx-search-col-md: 4;
$gx-search-col-sm: 4;
$gx-search-height: 70px;
$gx-search-height-sticky: 70px;
$gx-search-margin-vertical: 0;
$gx-search-margin-vertical-sticky: 0;
$gx-search-mobile-icon-color: #333333;
$gx-search-padding-vertical: 18px;
$gx-search-padding-vertical-sticky: 18px;
$gx-secondary-font-size: $font-size-small;
$gx-secondary-height: 70px;
$gx-secondary-height-sticky: 70px;
$gx-secondary-link-active-bg-color: #fff;
$gx-secondary-link-active-color: #000;
$gx-secondary-link-bg-color: transparent;
$gx-secondary-link-color: #000;
$gx-secondary-link-hover-bg-color: darken($brand-primary, 5%);
$gx-secondary-link-hover-color: #000;
$gx-secondary-link-padding: 19px 10px;
$gx-secondary-margin-vertical: 0;
$gx-secondary-margin-vertical-sticky: 0;
$gx-secondary-padding-vertical: 0;
$gx-secondary-padding-vertical-sticky: 0;
$gx-shop-content-full-width: true;
$gx-shopping-cart-full-width: true;
$gx-show-search-top-nav: false;
$gx-show-shipping-in-tile: false;
$gx-stage-below-header: false;
$gx-stage-wrap: false;
$gx-sub-cat-col-lg: 6;
$gx-sub-cat-col-md: 6;
$gx-sub-cat-col-sm: 6;
$gx-tab-bg-active-color: transparent;
$gx-tab-bg-active-image-attachment: scroll;
$gx-tab-bg-active-image-position: 50% 50%;
$gx-tab-bg-active-image-repeat: no-repeat;
$gx-tab-bg-active-image-size: auto;
$gx-tab-bg-color: transparent;
$gx-tab-bg-image-attachment: scroll;
$gx-tab-bg-image-position: 50% 50%;
$gx-tab-bg-image-repeat: no-repeat;
$gx-tab-bg-image-size: auto;
$gx-tab-border-color: transparent;
$gx-tab-border-color-active: $brand-primary;
$gx-tab-color: #777777;
$gx-tab-color-active: #333333;
$gx-tab-container-border-color: transparent;
$gx-topbar-font-size: $font-size-small;
$gx-topbar-height: 60px;
$gx-topbar-height-sticky: 60px;
$gx-topbar-link-padding: 19px 15px;
$gx-topbar-wrap: true;
$gx-total-box-border-color: #e7e7e7;
$gx-total-box-bottom-bg-color: #eee;
$gx-total-box-bottom-bg-image-attachment: scroll;
$gx-total-box-bottom-bg-image-position: 50% 50%;
$gx-total-box-bottom-bg-image-repeat: no-repeat;
$gx-total-box-bottom-bg-image-size: auto;
$gx-total-box-color: $text-color;
$gx-total-box-top-bg-color: $gx-panel-bg-color;
$gx-total-box-top-bg-image-attachment: scroll;
$gx-total-box-top-bg-image-position: 50% 50%;
$gx-total-box-top-bg-image-repeat: no-repeat;
$gx-total-box-top-bg-image-size: auto;
$gx-use-content-zone-for-hero: false;
$gx-wishlist-full-width: true;
$gx-wrapper-bg-color: #ffffff;
$gx-wrapper-bg-image-attachment: scroll;
$gx-wrapper-bg-image-position: 50% 50%;
$gx-wrapper-bg-image-repeat: no-repeat;
$gx-wrapper-bg-image-size: auto;
$gx-wrapper-border-radius: 0;
$navbar-collapse-max-height: 340px;
$navbar-default-link-active-color: #000000;
$navbar-default-link-color: #000000;
$navbar-default-link-hover-color: $brand-primary;
$navbar-height: 48px;
$navbar-margin-bottom: $line-height-computed;
$navbar-padding-horizontal: floor(($grid-gutter-width/2));
$navbar-padding-vertical: 16px;
$gx-carousel-widget-text-widget: 0 1px 2px rgba(0, 0, 0, .6);
$gx-carousel-widget-arrow-size: $carousel-control-font-size;
$gx-carousel-widget-arrow-color: #cccccc;
$gx-carousel-widget-arrow-hover-color: $brand-primary;
$gx-carousel-widget-indicator-size: 8px;
$gx-carousel-widget-indicator-color: #cccccc;
$gx-carousel-widget-indicator-active-color: $brand-primary;
$gx-carousel-widget-heading-font-size: $font-size-h3;
$gx-carousel-widget-heading-font-weight: 700;
$gx-carousel-widget-heading-text-shadow: true;
$gx-carousel-widget-heading-color: $text-color;
$gx-carousel-widget-tagline-font-size: $font-size-base;
$gx-carousel-widget-tagline-font-weight: 400;
$gx-carousel-widget-tagline-text-shadow: true;
$gx-carousel-widget-tagline-color: $text-color;
$gx-accordion-widget-border-radius: 4px;
$gx-accordion-widget-icon-right-padding: 15px;
$gx-accordion-widget-icon-color: $text-color;
$gx-accordion-widget-icon-active-color: $text-color;
$gx-accordion-widget-border-color: #dddddd;
$gx-accordion-widget-panels-distance: 5px;
$gx-accordion-widget-heading-padding: 10px 15px;
$gx-accordion-widget-heading-font-size: 16px;
$gx-accordion-widget-heading-font-weight: 400;
$gx-accordion-widget-heading-bg: $brand-primary;
$gx-accordion-widget-heading-active-bg: $brand-primary;
$gx-accordion-widget-heading-color: $text-color;
$gx-accordion-widget-heading-active-color: $text-color;
$gx-accordion-widget-body-padding: 15px;
$gx-accordion-widget-body-bg: #ffffff;
$gx-accordion-widget-body-color: $text-color;
/*!------------------------------------------------------------------------------
 -    _variable-aliases.scss 2019-09-18
 -    Gambio GmbH
 -    http://www.gambio.de
 -    Copyright (c) 2019 Gambio GmbH
 -    Released under the GNU General Public License (Version 2)
 -    [http://www.gnu.org/licenses/gpl-2.0.html]
 -    ---------------------------------------------------------------------------*/

$gx-wrapper-bg: $gx-wrapper-bg-color;
$body-bg: $gx-body-bg-color;
$gx-table-bg: $gx-table-bg-color;
$navbar-default-bg: $gx-cat-navbar-bg-color;
$gx-megadropdown-bg: $gx-megadropdown-bg-color;
$gx-enter-category-bg: $gx-enter-category-bg-color;
$gx-cat-left-bg: $gx-cat-left-bg-color;
$gx-cat-left-bg-hover: $gx-cat-left-bg-hover-color;
$gx-cat-left-bg-active: $gx-cat-left-bg-active-color;
$gx-cat-left-bg-open: $gx-cat-left-bg-open-color;
$gx-navbar-topbar-bg: $gx-navbar-topbar-bg-color;
$gx-navbar-topbar-link-bg: $gx-navbar-topbar-link-bg-color;
$gx-navbar-topbar-link-hover-bg: $gx-navbar-topbar-link-hover-bg-color;
$gx-navbar-topbar-link-active-bg: $gx-navbar-topbar-link-active-bg-color;
$gx-dropdown-bg: $gx-dropdown-bg-color;
$gx-dropdown-footer-bg: $gx-dropdown-footer-bg-color;
$gx-dropdown-hover-bg: $gx-dropdown-hover-bg-color;
$gx-footer-header-bg: $gx-footer-header-bg-color;
$gx-product-info-img-bg: $gx-product-info-img-bg-color;
$gx-product-bg: $gx-product-bg-color;
$gx-gallery-bg: $gx-gallery-bg-color;
$gx-product-info-details-bg: $gx-product-info-details-bg-color;
$gx-tab-bg: $gx-tab-bg-color;
$gx-tab-bg-active: $gx-tab-bg-active-color;
$gx-total-box-top-bg: $gx-total-box-top-bg-color;
$gx-total-box-bottom-bg: $gx-total-box-bottom-bg-color;
$gx-checkout-table-bg: $gx-checkout-table-bg-color;
$gx-list-group-item-bg: $gx-list-group-item-bg-color;
$gx-list-group-item-bg-active: $gx-list-group-item-bg-active-color;
$gx-checkout-form-bg: $gx-checkout-form-bg-color;
$gx-checkbox-bg: $gx-checkbox-bg-color;
$gx-checkbox-active-bg: $gx-checkbox-active-bg-color;
$gx-panel-header-bg: $gx-panel-header-bg-color;
$gx-panel-bg: $gx-panel-bg-color;
$gx-header-bg: $gx-header-bg-color;
$gx-header-bg-mobile: $gx-header-bg-mobile-color;
$gx-header-bg-sticky: $gx-header-bg-sticky-color;
$gx-modal-bg: $gx-modal-bg-color;
$gx-alert-danger-bg: $gx-alert-danger-bg-color;
$gx-alert-success-bg: $gx-alert-success-bg-color;
$gx-alert-warning-bg: $gx-alert-warning-bg-color;
$gx-alert-info-bg: $gx-alert-info-bg-color;
$gx-btn-primary-bg: $gx-btn-primary-bg-color;
$gx-btn-default-bg: $gx-btn-default-bg-color;
$gx-btn-calltoaction-bg: $gx-btn-calltoaction-bg-color;




$gx-font-import-url: "";
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  src: url(http://localhost/public/fonts/va9B4kDNxMZdWfMOD5VnPKreRhf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: url(http://localhost/public/fonts/va9E4kDNxMZdWfMOD5Vvl4jO.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: url(http://localhost/public/fonts/va9B4kDNxMZdWfMOD5VnLK3eRhf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 900;
  src: url(http://localhost/public/fonts/va9B4kDNxMZdWfMOD5VnFK_eRhf_.ttf) format('truetype');
}
