/* Online manual icon
   ========================================================================== */

.online-manual-icon {
    background-color: rgba(255, 255, 255, .7);
    border-radius: 50%;
    bottom: 95px;
    color: #002337;
    filter: alpha(opacity=0);
    font-size: 40px;
    height: 60px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding-left: 17px;
    position: fixed;
    right: 24px;
    width: 60px;
    z-index: 1020;
    transition: 500ms ease all;
    -webkit-transition: 500ms ease all;
    -o-transition: 500ms ease all;
}

.online-manual-icon:hover,
.online-manual-icon:active,
.online-manual-icon:focus,
.online-manual-icon:link:hover,
.online-manual-icon:link:active,
.online-manual-icon:link:focus,
.online-manual-icon:visited:hover,
.online-manual-icon:visited:active,
.online-manual-icon:visited:focus {
    background-color: #FFFFFF;
    color: #fdc300;
    outline: none;
    text-decoration: none;
}

/* Rest old legacy styles */
.online-manual-icon:visited,
.online-manual-icon:link {
    background-color: rgba(255, 255, 255, .7);
    color: #002337;
    font-size: 40px;
    font-weight: normal;
}

.online-manual-icon:before {
    content: '\f0eb';
    font-family: 'Font Awesome 5 Free';
    line-height: 60px;
    margin: 0;
}

.online-manual-icon.visible {
    box-shadow: 0 12px 18px rgba(0, 0, 0, .35);
    filter: alpha(opacity=1);
    max-height: none;
    opacity: 1;
    -webkit-box-shadow: 0 12px 18px rgba(0, 0, 0, .35);
}
